<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <div class="compose"><a href="/compose"><i class="fa-solid fa-pen"></i></a></div>


    <% posts.forEach((post)=> { %>
        <h3>
            <%= post.title %>
        </h3>

        <% if(post.content.length <=100) { %>
            <p style="display: inline;">
                <%= post.content %>
            </p>
            <a class="read-more-link" href="/posts/<%= post.title %>">Read More</a>
            <% } else { %>
                <p style="display: inline;">
                    <%= post.content.slice(0, 100) + '...' %>
                </p>
                <a class="read-more-link" href="/posts/<%= post.title %>">Read More</a>
                <% } %>


                    <% }) %>



                        <%- include('partials/footer'); -%>